{% extends "base.html" %}

{% block title %}Estudiante{% endblock %}

{% block content %}
<!--    <h2>Consultar estudiante</h2>-->
    <table>
        <tr>
            <th>Cédula</th>
            <th>Primer nombre</th>
            <th>Segundo nombre</th>
            <th>Primer apellido</th>
            <th>Segundo apellido</th>
        </tr>
        {% for person in data %}
            <tr>
                <td>{{ person['cedula'] }}</td>
                <td>{{ person['primer_apellido'] }}</td>
                <td>{{ person['segundo_apellido'] }}</td>
                <td>{{ person['primer_nombre'] }}</td>
                <td>{{ person['segundo_nombre'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}