<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
        <nav id="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a>Estudiante</a>
                <ul>
                    <li><a href="/api/student/all">Consultar</a></li>
                    <li><a href="/api/student/create">Crear</a></li>
                </ul>
            </li>
            <li><a>Asistencia</a>
                <ul>
                    <li><a href="/api/attendance/all">Consultar</a></li>
                    <li><a href="/api/attendance/create">Crear</a></li>
                </ul>
            </li>
            <li><a href="/attendance/">Reporte</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; Marlon Anibal Carrión Cuenca</p>
    </footer>
</body>
</html>
